<div class='d-flex flex-column bd-highlight justify-content-center align-items-center'>
  <form class='mt-5 w-25'>
    <div class='input-group'>
      <select class='form-control' id='sort' name='sort' onchange='form.submit()'>
        <option value='0' hidden>類別</option>
        {{#each categoryData}}
        <option value='{{this.id}}'>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </form>
  <div class='total mt-5 w-25'>
    <div class='fw-bold'>總金額：</div>
    <div class='float-end fw-bold mx-3' style='color: darkorange; font-size: 500%;'>12345</div>
  </div>
  <div class='mt-5 w-25'>
    <table class='table table-striped'>
      <tr>
        <th>
          <div class='expense d-flex align-items-center justify-content-between'>
            <div class='d-flex align-items-center'>
              <i class='fa-solid fa-utensils fa-2xl mx-3 text-info'></i>
              <div>
                <div class='fs-4'>午餐</div>
                <div class='fw-light'>2022/6/21</div>
              </div>
            </div>
            <div class='mx-3'>260</div>
            <div class='expense-btn'>
              <button type='button' class='btn btn-outline-info btn-sm'>Edit</button>
              <button type='button' class='btn btn-danger btn-sm'>Delete</button>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class='expense d-flex align-items-center justify-content-between'>
            <div class='d-flex align-items-center'>
              <i class='fa-solid fa-utensils fa-2xl mx-3 text-info'></i>
              <div>
                <div class='fs-4'>晚餐</div>
                <div class='fw-light'>2022/6/21</div>
              </div>
            </div>
            <div class='mx-3'>1260</div>
            <div class='expense-btn'>
              <button type='button' class='btn btn-outline-info btn-sm'>Edit</button>
              <button type='button' class='btn btn-danger btn-sm'>Delete</button>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class='expense d-flex align-items-center justify-content-between'>
            <div class='d-flex align-items-center'>
              <i class='fa-solid fa-utensils fa-2xl mx-3 text-info'></i>
              <div>
                <div class='fs-4'>早餐</div>
                <div class='fw-light'>2022/6/22</div>
              </div>
            </div>
            <div class='mx-3'>60</div>
            <div class='expense-btn'>
              <button type='button' class='btn btn-outline-info btn-sm'>Edit</button>
              <button type='button' class='btn btn-danger btn-sm'>Delete</button>
            </div>
          </div>
        </th>
      </tr>
    </table>
  </div>
</div>

<div class='fixed-bottom text-center m-3'>
  <a href='/expanse/new' type='button' class='btn btn-success btn-create w-25'>
    新增支出
  </a>
</div>